<header>
  <h1>{{title1}}</h1>
  <h2>{{title2}}</h2>
  <nav>
    <li><a href="/">Home</a></li>
    <li><a href="/state">Playground - State</a></li>
    <li><a href="/signup">Sign up</a></li>
  </nav>
</header>