{{>pageheader pagename="About Next Brain"}}


<div class="card text-center">
  <div class="card-header" style="width:100%">
    Next Brain's Mission
  </div>
  <div class="card-body">


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A site for learning</h5>
        <p class="card-text">With Next Brain Math, Children can learn basic arithmetic skills.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A site for fun</h5>
        <p class="card-text">With educational game plyaing, You can learn while having fun.</p>
      </div>
    </div>
  </div>
</div>



  </div>
</div>

<br> 

<div class="card text-center">
  <div class="card-header" style="width:100%">
    Contact Information
  </div>
  <div class="card-body">
    <address>
    Developed by <a href="mailto:kbckbc@gmail.com" class="btn btn-outline-danger">Byeongchan Gwak</a><br> 
    Visit Githup page <a href="https://github.com/kbckbc/portfolio" class="btn btn-outline-danger">Go to Githup</a>
    </address>

    
  </div>
</div>