{{>pageheader pagename="Delete account"}}

<div class="card text-center w-75" style="margin:auto" >
  <div class="card-body">

    <p>We are sad to let you go.</p>
    <p>Come visit us next time!</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Go to Main page</a>

  </div>
</div>
