{{>pageheader pagename="Next Brain's Mission : To help students love learning!"}}


<div class="row row-cols-1 row-cols-md-4 g-4" style="width:95%;margin:auto">
  <div class="col">
    <div class="card text-center">
    <div class="card-header" style="width:100%">Learn Math!</div>

      <img src="/res/math.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Leaning addition, subtraction, multiplication, division by solving problems!
          <a href="/math" class="btn btn-danger">Go</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header" style="width:100%">Test your brain!</div>
      <img src="/res/state.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Can you name every states in the USA? You wanna try?
          <a href="/game/state" class="btn btn-danger">Go</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header" style="width:100%">Learning by Playing!</div>
      <img src="/res/nuguri.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Gotta get away from enemies while solving problems in the jar!
          <a href="/game/nuguri" class="btn btn-danger">Go</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card text-center">
      <div class="card-header" style="width:100%">Check your ranking!</div>
      <img src="/res/ranking.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Share your score with your friends!
          <a href="/ranking/nuguri" class="btn btn-danger">Go</a>
        </p>
      </div>
    </div>
  </div>
</div>


