{{>pageheader pagename="Next Brain's Mission : To help students love learning!"}}


</div>

<div class="row row-cols-1 row-cols-md-2 g-4" style="width:60%;margin:auto">
  <div class="col">
    <div class="card">
      <img src="/res/math.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Learn math earning coins!</h5>
        <p class="card-text">You can learn plus, minus, multiplication table, multiply and divide by solving problems!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/res/state.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">State Challenge Game</h5>
        <p class="card-text">Can you name every states in the USA? You wanna try?</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/res/nuguri.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Check learning by playing game</h5>
        <p class="card-text">Gotta get away from enemies while solving problems in the jar!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/res/ranking.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Share score with your friends!</h5>
        <p class="card-text">Check out  your friends' score! </p>
      </div>
    </div>
  </div>
</div>