

<div class="card text-center w-50" style="margin:auto" >
  <div class="card-body">
    <h5 class="card-title">Log in</h5>
    <p class="card-text">


    <form action="/auth/login" method="post">
        <section>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section>
            <label for="current-password">Password</label>
            <input id="current-password" name="password" type="password" autocomplete="current-password" required>
        </section>
        <br>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>



    </p>
  </div>
</div>