{{>pageheader pagename="Nuguri Math"}}
<main>
</main>

<script src="/game/nuguri/util.js"></script>
<script src="/game/nuguri/event.js"></script>
<script src="/game/nuguri/thing.js"></script>
<script src="/game/nuguri/judge.js"></script>
<script src="/game/nuguri/nuguri.js"></script>
<script src="/game/nuguri/jar.js"></script>
<script src="/game/nuguri/gate.js"></script>
<script src="/game/nuguri/spike.js"></script>
<script src="/game/nuguri/board.js"></script>
<script src="/game/nuguri/enemy.js"></script>

<script src="/game/nuguri/practice.js"></script>

<script src="/game/nuguri/nuguriapp.js"></script>
