{{>pageheader pagename="State Challenge"}}

<div style="max-width:300px; float:left"> 
  <div id="divOp">
    <button type="button" class="btn btn-primary " style="width:150px" disabled>Which country?</button>
    <button type="button" class="btn btn-outline-primary" id="btnUsa" disabled>USA</button>
  </div>

  <div id="divNavi">
    <button type="button" class="btn btn-primary " style="width:150px" disabled>Mode</button>
    <button type="button" class="btn btn-outline-primary" id="btnStudy" >Study</button>
    <button type="button" class="btn btn-outline-primary" id="btnStart" >Game</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary " style="width:150px" disabled> < > </button>
    <button type="button" class="btn btn-outline-primary" id="btnPrev" >Prev</button>
    <button type="button" class="btn btn-outline-primary" id="btnNext" >Next</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary " style="width:150px" disabled>Record</button>
    <button type="button" class="btn btn-outline-primary" id="btnScore" >Save score</button>
  </div>
  <br>


  <div id="cardSectionNext" style="display:none">
    <div class="card" >
      <div class="card-header" style="width:100%">
        <h5><span id="cardQuestion" >Question!</span></h5>
      </div>
      <button type="button" class="btn btn-outline-danger" id="btnA1">1</button>
      <button type="button" class="btn btn-outline-danger" id="btnA2">2</button>
      <button type="button" class="btn btn-outline-danger" id="btnA3">3</button>
      <button type="button" class="btn btn-outline-danger" id="btnA4">4</button>
      <button type="button" class="btn btn-outline-danger" id="btnA5">5</button>
      <div class="card-footer" style="width:100%">
        <h5><span id="cardStatus1" >Status</span></h5>
      </div>
    </div>  
  </div>

  <div id="cardSectionPrev" style="display:none">
    <div class="card" >
      <div class="card-header" style="width:100%">
        <h5><span id="cardPrevQuestion" >Prev Question!</span></h5>
      </div>
      <div class="card-footer" style="width:100%">
        <h5><span id="cardStatus2" >Status</span></h5>
      </div>
    </div>  
  </div>

</div>
  
<main style="text-align:center">
</main>

<script src='/util.js'></script>
<script src='/game/state/usa_pos.js'></script>
<script src='/game/state/draw.js'></script>
<script src='/game/state/event.js'></script>
<script src='/game/state/state.js'></script>

